<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/accessdenied.jsp</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/general-error.jsp</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/Error404.jsp</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/Error500.jsp</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/Error503.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMiningEngineer</servlet-name>
        <servlet-class>addMiningEngineer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDRO</servlet-name>
        <servlet-class>addDRO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGeologist</servlet-name>
        <servlet-class>addGeologist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProject</servlet-name>
        <servlet-class>addProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProject</servlet-name>
        <servlet-class>ViewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailUtil</servlet-name>
        <servlet-class>MailUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServ</servlet-name>
        <servlet-class>MailServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListGeo</servlet-name>
        <servlet-class>ProjectListGeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListME</servlet-name>
        <servlet-class>ProjectListME</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectListDRO</servlet-name>
        <servlet-class>ProjectListDRO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewReport</servlet-name>
        <servlet-class>viewReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailSSL</servlet-name>
        <servlet-class>SendMailSSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailwithSSL</servlet-name>
        <servlet-class>SendMailwithSSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectList</servlet-name>
        <servlet-class>ProjectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServ</servlet-name>
        <servlet-class>CaptchaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessHDFS</servlet-name>
        <servlet-class>ProcessHDFS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PointAddServ</servlet-name>
        <servlet-class>PointAddServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignWork</servlet-name>
        <servlet-class>assignWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignWork</servlet-name>
        <servlet-class>AssignWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectAssignWork</servlet-name>
        <servlet-class>redirectAssignWork</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>analyzeFiles</servlet-name>
        <servlet-class>analyzeFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTask</servlet-name>
        <servlet-class>viewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTask</servlet-name>
        <servlet-class>ViewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessData</servlet-name>
        <servlet-class>myPkg.ProcessData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HadoopProcessing</servlet-name>
        <servlet-class>myPkg.HadoopProcessing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMiningEngineer</servlet-name>
        <url-pattern>/addMiningEngineer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDRO</servlet-name>
        <url-pattern>/addDRO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGeologist</servlet-name>
        <url-pattern>/addGeologist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProject</servlet-name>
        <url-pattern>/addProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProject</servlet-name>
        <url-pattern>/ViewProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailUtil</servlet-name>
        <url-pattern>/MailUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServ</servlet-name>
        <url-pattern>/MailServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListGeo</servlet-name>
        <url-pattern>/ProjectListGeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListME</servlet-name>
        <url-pattern>/ProjectListME</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectListDRO</servlet-name>
        <url-pattern>/ProjectListDRO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewReport</servlet-name>
        <url-pattern>/viewReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailSSL</servlet-name>
        <url-pattern>/SendMailSSL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailwithSSL</servlet-name>
        <url-pattern>/SendMailwithSSL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectList</servlet-name>
        <url-pattern>/ProjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServ</servlet-name>
        <url-pattern>/CaptchaServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHDFS</servlet-name>
        <url-pattern>/ProcessHDFS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PointAddServ</servlet-name>
        <url-pattern>/PointAddServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignWork</servlet-name>
        <url-pattern>/assignWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignWork</servlet-name>
        <url-pattern>/AssignWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectAssignWork</servlet-name>
        <url-pattern>/redirectAssignWork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>analyzeFiles</servlet-name>
        <url-pattern>/analyzeFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTask</servlet-name>
        <url-pattern>/viewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTask</servlet-name>
        <url-pattern>/ViewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessData</servlet-name>
        <url-pattern>/ProcessData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HadoopProcessing</servlet-name>
        <url-pattern>/HadoopProcessing</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
